#!/usr/bin/make -f

%:
	dh $@ --with tex

override_dh_auto_clean:
	rm -rf build/tds
	rm -f build/biblatex.tgz
	dh_auto_clean

override_dh_auto_configure:
	./build/build.sh 2.0  # 2.0 is the official upstream version

override_dh_installchangelogs:
	dh_installchangelogs build/tds/doc/latex/biblatex/RELEASE

override_dh_compress:
	dh_compress -X.pdf
